<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmpark0313.android.menualarm">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 진동 허용, 부팅 시 receive 허용, 화면 out상태에서 켜짐 허용 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 진동 허용, 부팅 시 receive 허용, 화면 out상태에서 켜짐 허용 -->

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/menualarm_ic_launcher"
        android:label="KBIO 오늘의 메뉴"
        android:roundIcon="@mipmap/menualarm_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MenuAlarm">
        <activity
            android:name="com.kmpark0313.android.menualarm.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.kmpark0313.android.menualarm.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.menualarm.ALARM_START" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.kmpark0313.android.menualarm.AlarmService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.kmpark0313.android.menualarm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/lunchtime" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
    </application>
</manifest>